{% extends 'base.html.twig' %}

{% block title %}PostLangue{% endblock %}

{% block body %}
    <h1>PostLangue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post_langue.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post_langue.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_langue_index') }}">back to list</a>

    <a href="{{ path('post_langue_edit', {'id': post_langue.id}) }}">edit</a>

    {{ include('post_langue/_delete_form.html.twig') }}
{% endblock %}
