

{{ form_start(form) }}
 
  <div class="form-group"> 
    {{ form_row(form.poste) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.cand_nom) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.cand_prenom) }}
    </div>
      <div class="form-group"> 
    {{ form_row(form.cand_email) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.sexe) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.cand_tel) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.cand_tel_whatsapp) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.cand_date_naissance) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.cand_adresse) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.etat_civil) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.nb_enfant) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.ville) }}
    </div>
  <div class="form-group"> 
    {{ form_row(form.cand_code_postal) }}
    </div>

    <button class="btn btn-success">{{ button_label|default('Suivant') }}</button>
{{ form_end(form) }}
