{% extends 'base.html.twig' %}

{% block title %}Entretiens{% endblock %}

{% block body %}
 <div class="col-sm-12" >
                         <nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item" ><a  href="{{ path('candidature_show', {'id': candidat.id} ) }}" >{{candidat.REF}} </a></li>
      <li class="breadcrumb-item" ><a  href="{{ path('entretien_candidat_show', {'id': candidat.id} ) }}" >Liste d'Entretiens  </a></li>
      <li class="breadcrumb-item active" aria-current="page">Details entretien </li>
   </ol>
</nav>
             <div class="card">
                    <div class="card-header d-flex justify-content-between">
                     <div class="header-title"> 
                  
                        <h4 class="card-title ">Entretien details  </h4>
                     </div>
                  </div>
 <div class="card-body">
    <div class="table-responsive">

    <table  class="table data-table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entretien.id }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ entretien.responsable }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entretien.date ? entretien.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ entretien.observation }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entretien.type }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entretien.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
  </div>
        </div>
            </div>
  {% if entretien.etat == false %}
    <a class="btn btn-success" href="{{ path('entretien_ok', {'id': entretien.id}) }}">Ok</a>

    <a class="btn btn-info" href="{{ path('entretien_edit', {'id': entretien.id}) }}">Modifier</a>
    {% endif %}
        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModal">
        Observation 
        </button>
        <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Observation </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
          {{ form_start(form) }}
  
                <div class="form-group">

                             {{ form_row(form.observation) }}
                </div>
          




         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
         </div>
      </div>
   </div>




</div>
  {% if entretien.etat == false %}

    {{ include('entretien/_delete_form.html.twig') }}

        {% endif %}

{% endblock %}
