
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
                <link rel="shortcut icon" href="{{asset('assets/file/logowe.png')}}"/>

        <link rel="stylesheet" href="{{asset('assets/css/backend-plugin.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/backend.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendor/@fortawesome/fontawesome-free/css/all.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendor/remixicon/fonts/remixicon.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendor/@icon/dripicons/dripicons.css')}}">
        
        <link rel='stylesheet' href="{{asset('assets/vendor/fullcalendar/core/main.css')}}" />
        <link rel='stylesheet' href="{{asset('assets/vendor/fullcalendar/daygrid/main.css')}}" />
        <link rel='stylesheet' href="{{asset('assets/vendor/fullcalendar/timegrid/main.css')}}" />
        <link rel='stylesheet' href="{{asset('assets/vendor/fullcalendar/list/main.css')}}" />
        <link rel="stylesheet" href="{{asset('assets/vendor/mapbox/mapbox-gl.css')}}"> 
        {% block stylesheets %}

        {% endblock %}

      
    </head>
<body class=" ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    
      <div class="wrapper">
      <div class="container">
         <div class="row no-gutters height-self-center">
            <div class="col-sm-12 text-center align-self-center">
               <div class="mm-error position-relative">
                    
                     <h2 class="mb-0 mt-4">Votre candidature a été  envoyée avec succès</h2>
               </div>
            </div>
         </div>
   </div>
      </div>
      
    <!-- Backend Bundle JavaScript -->
    <script src="{{asset('assets/js/backend-bundle.min.js')}}"></script>
    
    <!-- Flextree Javascript-->
    <script src="{{asset('assets/js/flex-tree.min.js')}}"></script>
    <script src="{{asset('assets/js/tree.js')}}"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="{{asset('assets/js/table-treeview.js')}}"></script>
    
    <!-- Masonary Gallery Javascript -->
    <script src="{{asset('assets/js/masonry.pkgd.min.js')}}"></script>
    <script src="{{asset('assets/js/imagesloaded.pkgd.min.js')}}"></script>
    
    <!-- Mapbox Javascript -->
    <script src="{{asset('assets/js/mapbox-gl.js')}}"></script>
    <script src="{{asset('assets/js/mapbox.js')}}"></script>
    
    <!-- Fullcalender Javascript -->
    <script src="{{asset('assets/vendor/fullcalendar/core/main.js')}}"></script>
    <script src="{{asset('assets/vendor/fullcalendar/daygrid/main.js')}}"></script>
    <script src="{{asset('assets/vendor/fullcalendar/timegrid/main.js')}}"></script>
    <script src="{{asset('assets/vendor/fullcalendar/list/main.js')}}"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="{{asset('assets/js/sweetalert.js')}}"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="{{asset('assets/js/vector-map-custom.js')}}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{{asset('assets/js/customizer.js')}}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{{asset('assets/js/chart-custom.js')}}"></script>
    <script src="{{asset('assets/js/charts/01.js')}}"></script>
    <script src="{{asset('assets/js/charts/02.js')}}"></script>
    
    <!-- slider JavaScript -->
    <script src="{{asset('assets/js/slider.js')}}"></script>
    
    <!-- Emoji picker -->
    <script src="{{asset('assets/vendor/emoji-picker-element/index.js')}}" type="module"></script>
    
    <!-- app JavaScript -->
    <script src="{{asset('assets/js/app.js')}}"></script>
     {% block JavaScript %}

        {% endblock %}
    </body>
</html>
