      

     {{ form_start(formdate) }}


 

  <div class="modal-body">
                  <div class="row">
                     <div class="col">
                                {{ form_row(formdate.date_debut) }}

                     </div>
                     <div class="col">
                            {{ form_row(formdate.date_fin) }}

                     </div>
                  </div>
               
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type ="submit "class="btn btn-primary  ">{{ button_label|default('Enregister') }}</button>
         </div>  
 
  {{ form_end(formdate) }}